header { height: 20; }
section#corpo { display: block; width: 300; float: left; border-right: 1px solid #606060; padding: 10px; }
aside#lateral { display: block; width: 600; float: right; }
footer#rodape { clear: both; border-top: 1px solid #606060; }
