header { text-align: center; font-size: 10px; width: 50px; border-button: 1px solid #606060; }
li {list-style: none;}
section#corpo { display: block; width: 300px; float: left; border-right: 1px solid #606060; padding: 10px; }
img {left: 10px; height: 20px; width: 20px; border-radius: 20%; border: 1px solid black; }
img#photo { height: 100px; width: 100px; border-radius: 90%; }
aside#lateral { display: block; width: 800px; padding: 10px; float: right; }
footer#rodape { clear: both; border-top: 1px solid #606060; text-align: center; }
